<table class="table table-hover caption-top">
    <caption>Список товаров</caption>
    <thead>
    <tr>
        <th>#</th>
        <th>Наименование</th>
        <th>Цена</th>
        <th class="text-end">
            <button type="button" class="btn btn-success me-3" (click)="addClick()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-plus-square"
                     viewBox="0 0 16 16">
                    <path
                            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>

            </button>
        </th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr *ngFor="let product of productList let i = index">
        <td>{{(page - 1) * size + i + 1}}</td>
        <td>{{product.title}}</td>
        <td class="text-end">{{product.price | number: '.2-2'}}</td>
        <td class="text-end">
            <button type="button" class="btn btn-primary me-3" (click)="editClick(product.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                     viewBox="0 0 16 16">
                    <path
                            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                </svg>
            </button>
            <button type="button" class="btn btn-outline-danger me-3" (click)="deleteClick(product.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                     viewBox="0 0 16 16">
                    <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                </svg>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item" [ngClass]="page == 1 ? 'disabled' : ''">
            <a class="page-link" (click)="previousPage()" href="#">Previous</a>
        </li>
        <li class="page-item"
            *ngFor="let item of [].constructor(pagesCount); let i = index"
            [ngClass]="page == i + 1 ? 'active' : ''">
            <a class="page-link" (click)="setPage(i + 1)" href="#">{{i + 1}}</a>
        </li>
        <li class="page-item" [ngClass]="page == pagesCount ? 'disabled' : ''">
            <a class="page-link" (click)="nextPage()" href="#">Next</a>
        </li>
    </ul>
</nav>

<div class="modal" tabindex="-1" [ngStyle]="{'display': modalVisible ? 'block' : 'none'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Товар {{isNewProduct ? '(новый)' : ''}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" *ngIf="selectedProduct$ | async as p">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Товар" required
                               formControlName="title"
                               [setValue]="p.title"
                               [ngClass]="form.controls.title.invalid ? 'is-invalid' : ''"
                        >
                        <label for="inputTitle" class="form-label">Наименование</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="inputPrice" placeholder="0.00" required
                               formControlName="price"
                               [setValue]="p.price"
                               [ngClass]="form.controls.price.invalid ? 'is-invalid' : ''"
                        >
                        <label for="inputPrice" class="form-label">Цена</label>
                    </div>
                    <div class="visually-hidden">
                        <input type="text" formControlName="id" [setValue]="p.id">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Закрыть
                </button>
                <button type="button" class="btn btn-primary" (click)="saveProduct()"
                        [disabled]="form.invalid">{{isDelete ? 'Удалить' : 'Сохранить'}}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show" [ngStyle]="{'display': modalVisible ? 'block' : 'none'}"></div>
